<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey.mapper.AdminMapper">

    <select id="query" parameterType="admin" resultType="admin">
        select * from tb_admin
        <where>
            <if test="id!=0">             and id=#{id}                  </if>
            <if test="username!=null">    and username=#{username}      </if>
            <if test="password!=null">    and password=#{password}      </if>
        </where>

    </select>

    <select id="queryOne" parameterType="admin" resultType="admin">
        select * from tb_admin
        <where>
            <if test="id!=0">             and id=#{id}                  </if>
            <if test="username!=null">    and username=#{username}      </if>
            <if test="password!=null">    and password=#{password}      </if>
        </where>

    </select>

    <insert id="insert" parameterType="admin" keyProperty="id">
        insert into tb_admin (id, username, password, name, status) value (null, #{username}, #{password}, #{name}, 0)
    </insert>


    <update id="update" parameterType="admin" keyProperty="id">
         update tb_admin
         <set>
             <if test="password!=null">password=#{password}</if>
             <if test="name!=null">name=#{name}</if>
         </set>
         where id=#{id}
    </update>
    <update id="modifyStatus">
        update tb_admin set status = #{arg1} where id = #{arg0}
    </update>
</mapper>